extends ../layouts/app

block content
	form(method='post', action='/auth/signup').form-auth
		.text-center.mb-4
			img(src='/img/bootstrap-solid.svg', width='72', height='72').mb-3
			h1.h3.mb-3.font-weight-normal= title
		if message.length > 0
			.alert.alert-danger= message
		input(type='hidden', name='_csrf', value=csrfToken)
		h3.h5.font-weight-normal About you
		hr.mt-1.mb-4
		.form-label-group
			input(type='text', name='firstName', placeholder='First name', required)#firstName.form-control
			label(for='firstName') First name
		.form-label-group
			input(type='text', name='lastName', placeholder='Last name', required)#lastName.form-control
			label(for='lastName') Last name
		.form-group
			.input-group
				input(type='date', name='date', required)#Date.form-control
				.input-group-append
					label(for='Date').input-group-text: i.fas.fa-calendar
		.form-group
			select(name='age', required)#Age.form-control
				option(value='-1') Select your age
				- i = 1
				while i < 99
					option(value=i)= i
		.form-group
			.custom-control.custom-radio.custom-control-inline
				input(type='radio', name='genre', value='male', required)#GenreMale.custom-control-input
				label(for='GenreMale').custom-control-label Male
			.custom-control.custom-radio.custom-control-inline
				input(type='radio', name='genre', value='female', required)#GenreFemale.custom-control-input
				label(for='GenreFemale').custom-control-label Female
		h3.h5.font-weight-normal Contact
		hr.mt-1.mb-4
		.form-label-group
			input(type='tel', name='telephone', placeholder='Telephone', required)#Telephone.form-control
			label(for='Telephone') Telephone
		.form-label-group
			input(type='tel', name='cell', placeholder='Cell', required)#Cell.form-control
			label(for='Cell') Cell
		h3.h5.font-weight-normal Location
		hr.mt-1.mb-4
		.form-group
			select(name='country', required)#Country.form-control
				option(value='-1') Select your country
				each country in countries
					option(value=country.name)= country.name
		.form-label-group
			input(type='text', name='city', placeholder='City', required)#City.form-control
			label(for='City') City
		.form-label-group
			input(type='text', name='state', placeholder='State', required)#State.form-control
			label(for='State') State
		.form-label-group
			input(type='text', name='street', placeholder='Street', required)#Street.form-control
			label(for='Street') Street
		h3.h5.font-weight-normal Login
		hr.mt-1.mb4
		.form-label-group
			input(type='email', name='email', placeholder='Email', required)#Email.form-control
			label(for='Email') Email
		.form-label-group
			input(type='text', name='username', placeholder='Username', required)#Username.form-control
			label(for='Username') Username
		.form-label-group
			input(type='password', name='password', placeholder='Password', required)#Password.form-control
			label(for='Password') Password
		button(type='submit').btn.btn-block.btn-primary.mt-4 Sign up
